@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #b5b5b5;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  -ms-overflow-style: none;
}

/* scroll-bar hidden */
::-webkit-scrollbar {
  display: none;
}

@media (min-width: 650px) {
  .App,
  header,
  #cartBox {
    width: 380px;
  }
}
@media (max-width: 650px) {
  .App,
  header,
  #cartBox {
    width: 95vw;
  }
}
